.search-container {
  padding: 16px;
}

.search-field {
  width: 100%;
  max-width: 400px;
  margin-bottom: 16px;
}

button {
  background-color: #b2dfdb;
  color: #00332f;
}

.book-card {
  background-color: #ffffff;
  margin-top: 16px;
  color: #004d40;
  box-shadow: 0 2px 4px rgba(0, 77, 64, 0.1);
}
