<div class="login-wrapper">
  <mat-card>
    <!-- Username form-->
    <mat-card-title style="font-size: 25px">Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Benutzername</mat-label>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="(submitted || username?.touched) && username?.errors?.['required']">
          Es muss ein Benutzername eingegeben werden
        </mat-error>
      </mat-form-field>

      <!-- Password form-->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Passwort</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error *ngIf="(submitted || password?.touched) && password?.errors?.['required']">
          Es muss ein Passwort eingegeben werden
        </mat-error>
      </mat-form-field>

      <!-- Error message -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button mat-raised-button color="primary" type="submit">
        Einloggen
      </button>
    </form>
  </mat-card>
</div>
