.spacer {
  flex: 1 1 auto;
}

.home-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-height: calc(100vh - 64px);
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
}
