<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/home'" *ngIf="router.url !== '/home'">
      Home
    </button>
    <button mat-menu-item [routerLink]="'/login'">Login</button>
    <button mat-menu-item [routerLink]="'/search'">Suche</button>
    <button mat-menu-item [routerLink]="'/adjust'">Anpassen</button>
    <button mat-menu-item [routerLink]="'/create'">Hinzufügen</button>
  </mat-menu>

  <span style="margin-left: 8px">📚 BookSphere</span>

  <span class="spacer"></span>
  <a
    mat-button
    routerLink="/home"
    routerLinkActive="active-link"
    aria-current="page"
    >Home</a
  >
  <a
    mat-button
    routerLink="/login"
    routerLinkActive="active-link"
    aria-current="page"
    >Login</a
  >
  <button mat-icon-button>
    <mat-icon>brightness_6</mat-icon>
  </button>
</mat-toolbar>

<div class="home-container">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer
  style="
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:
      'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  "
  class="footer"
>
  <div class="footer-content">
    <p>📚 BookSphere – Dein digitales Bücherregal</p>
    <a href="/impressum">Impressum</a> |
    <a href="https://www.youtube.com">Youtube</a> |
    <a href="https://linkedin.com">LinkedIn</a>
  </div>
</footer>
