<mat-toolbar color="primary">
  <!-- Dropdown-Menü-Button links -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Menüdefinition -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/home'" *ngIf="router.url !== '/home'">
      Home
    </button>
    <button mat-menu-item [routerLink]="'/login'">Login</button>
    <button mat-menu-item [routerLink]="'/search'">Suche</button>
    <button mat-menu-item [routerLink]="'/adjust'">Anpassen</button>
    <button mat-menu-item [routerLink]="'/create'">Hinzufügen</button>
  </mat-menu>

  <!-- Titel -->
  <span style="margin-left: 8px">📚 BookSphere</span>

  <!-- Spacer und andere Links -->
  <span class="spacer"></span>
  <a
    mat-button
    routerLink="/home"
    routerLinkActive="active-link"
    aria-current="page"
    >Home</a
  >
  <a
    mat-button
    routerLink="/login"
    routerLinkActive="active-link"
    aria-current="page"
    >Login</a
  >
</mat-toolbar>

<div class="home-container">
  <router-outlet></router-outlet>
</div>
