.adjust-container {
  max-width: 900px;
  margin: 5rem auto;
  padding: 2rem;
  padding-bottom: 150px;
  background-color: #f9f9f9;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    .full-width {
      grid-column: span 2;
    }
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  input,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .error {
    grid-column: span 2;
    color: red;
    margin-top: 1rem;
  }

  button {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #329792;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    grid-column: span 2;
    justify-self: center;

    &:disabled {
      background-color: #999;
    }

    &:hover:not(:disabled) {
      background-color: #329792;
    }
  }
}

.book-id-buttons {
  margin-bottom: 2rem;

  button {
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #329792;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: #329792;
    }
  }
}

.success {
  color: green;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .adjust-container {
    margin: 4rem 1rem;
    padding-bottom: 12rem;

    form {
      grid-template-columns: 1fr;
    }

    .full-width {
      grid-column: span 1;
    }

    button {
      width: 100%;
    }
  }
}
